.menu {
    margin-bottom: 15px;
    padding: 10px 25px 10px 25px;
    background-color: white;
    border: 4px double black;
    color: black
}

.left-column {
    float: left;
    width: 40%;
    min-height: 100px;
    background-color: white;
    margin-left: 2%;
    padding: 10px;
    border: 4px double black;
}
+
p {
	margin-left: 5%;
}
.right-column {
    float: left;
    width: 40%;
    min-height: 100px;
    background-color: #d9edf7;
    padding: 10px;
    margin-left: 2%;
    border: 4px double black;
}

.footer {
clear: both;    
}
